---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import Button from "../../../components/Button.astro";
---

<Layout>
	<Header/>
	<section class="grid grid-cols-12 px-5 lg:px-10 gap-4" >
        <div class="col-span-12 flex flex-col lg:gap-2 border-b border-[#AFAFAF] pb-2 lg:pb-5">

            <h2 class="font-medium">
                CBC
            </h2>
            <div class="font-light text-[13px]">DISEÑO UX/UI</div>
        </div>
	</section>

    <section class="relative grid grid-cols-12 px-5 lg:px-10 gap-4 pt-10 lg:pt-24 pb-4 lg:pb-20">
        <article class="col-span-12 lg:col-span-5 flex flex-col gap-6 lg:gap-12">
            <div class="flex flex-col gap-8">
                <div class="flex justify-between py-2 lg:py-5 border-b border-[#AFAFAF]">
                    <div class="font-medium">Cliente</div>
                    <div class="font-light text-[13px]">PROYECTO UNIVERSITARIO</div>
                </div>
                <!-- <div class="flex justify-between py-2 lg:py-5 border-b border-[#AFAFAF]">
                    <div class="font-medium">Live preview</div>
                    <a href="#" target="_blank" class="font-light text-[13px]">NOT AVAILABLE</a>
                </div> -->
                <div class="flex justify-between py-2 lg:py-5 border-b border-[#AFAFAF]">
                    <div class="font-medium">Fecha</div>
                    <div class="font-light text-[13px]">MAYO 2025</div>
                </div>
                <div class="flex justify-between py-2 lg:py-5 border-b border-[#AFAFAF]">
                    <div class="font-medium">Trabajo</div>
                    <div>
                        <div class="font-light text-[13px]">FIGMA</div>
                    </div>
                </div>
            </div>
            <div class="col-span-12 lg:col-span-6 col-start-1 lg:col-start-7 bg-[#F1E298] py-8 lg:py-32 px-8 lg:px-[88px] lg:hidden flex flex-col gap-8 lg:gap-16">
                <img src="/cbc.webp" alt="CBC Image" class="lg:sticky lg:top-[100px] w-full aspect-[295.36/194.00] object-cover"/>
                <img src="/cbc2.webp" alt="CBC Image" class="lg:sticky lg:top-[100px] w-full aspect-[295.36/194.00] object-cover"/>
                <img src="/cbc3.webp" alt="CBC Image" class="lg:sticky lg:top-[100px] w-full aspect-[295.36/194.00] object-cover"/>
            </div>
            <Button href="/es" position="rotate-180"/>
            <p class="text-[28px] lg:text-[32px] font-medium">
                Rediseño de la plataforma web de CBC con un enfoque centrado en el usuario y una estructura visual más limpia.            
            </p>
            <div class="flex flex-col gap-12">
                <div class="flex flex-col gap-4">
                    <div class="text-[13px] font-light">[RESUMEN DEL PROYECTO]</div>
                    <p class="font-light leading-5">
                        Se trata de un proyecto de grupo universitario realizado por un equipo de cuatro personas. Nos centramos en rediseñar CBC.ca, la web de la radiotelevisión pública nacional de Canadá. Juntos analizamos los problemas de usabilidad y diseño visual de la plataforma existente y abordamos el rediseño con un fuerte enfoque centrado en el usuario. El resultado es una experiencia informativa más limpia, estructurada y accesible, adaptada a las necesidades del usuario.                    
                    </p>
                </div>
                <div class="flex flex-col gap-4">
                    <div class="text-[13px] font-light">[MI ROL]</div>
                    <p class="font-light leading-5">
                        Como responsable del proyecto, coordiné el flujo de trabajo del equipo y ayudé a dar forma a la dirección general del diseño. Mis principales áreas de trabajo fueron el análisis heurístico experto, la creación de wireframes y el desarrollo del sistema de diseño. Aseguré la consistencia del proceso de diseño y guié las decisiones basándome en los principios de usabilidad y en los comentarios de los usuarios.                    
                    </p>
                </div>
                <div class="flex flex-col gap-4">
                    <div class="text-[13px] font-light">[PROCESO Y ENTREGAS]</div>
                    <p class="font-light leading-5">
                    <b>User Persona y Journey:</b> Se creó un personaje de usuario detallado y se trazó su recorrido por el sitio para comprender mejor los puntos de dolor y las tareas clave.<br/><br/>
                    <b>Análisis Heurístico Experto:</b> Utilizando las 10 heurísticas de Nielsen, se evaluó la web original para identificar problemas de usabilidad y orientar las decisiones de diseño.<br><br>
                    <b>Moodboard:</b> Se desarrolló un moodboard visual para establecer un tono limpio, informativo y de confianza. <br><br>
                    <b>Sketches y Wireframes:</b> Los primeros conceptos de diseño se centraron en mejorar la jerarquía visual, reducir el desorden y reorganizar los contenidos para mejorar la usabilidad.<br><br>
                    <b>Test de Guerrilla:</b> Se llevaron a cabo rápidas sesiones de pruebas con usuarios reales para evaluar los wireframes y recoger sus opiniones. Los resultados de esta fase influyeron directamente en los cambios realizados en la interfaz de usuario final.<br><br>
                    <b>Mockups y Sistema de Diseño:</b> Se crearon maquetas finales de alta fidelidad en Figma, incorporando todas las mejoras basadas en la investigación y las pruebas. También se hizo un sistema de diseño para garantizar la coherencia de los componentes, la tipografía y el diseño.
                </p>
                </div>
                <div class="flex flex-col gap-4">
                    <div class="text-[13px] font-light">[ENFOQUE DE DISEÑO]</div>
                    <p class="font-light leading-5">
                        El objetivo del rediseño era crear una plataforma de noticias más limpia, accesible y fácil de navegar. Se priorizó la legibilidad de los contenidos, la navegación simplificada y la coherencia visual. El diseño facilita el uso, mientras que la interfaz resulta moderna y estructurada sin sobrecargar al usuario.                    
                    </p>
                </div>
                <div class="flex flex-col gap-4">
                    <div class="text-[13px] font-light">[RESULTADO]</div>
                    <p class="font-light leading-5">
                        El resultado es un concepto totalmente rediseñado para CBC.ca que refleja una experiencia más organizada, intuitiva y orientada al usuario. Este proyecto demuestra cómo la combinación de la investigación de la experiencia del usuario, las pruebas de usabilidad y un diseño visual bien pensado pueden transformar un sitio de medios de comunicación denso en un producto digital claro y atractivo.                    </p>
                </div>
            </div>
        </article>
        <article class="col-span-12 lg:col-span-6 col-start-1 lg:col-start-7 bg-[#F1E298] py-8 lg:py-32 px-8 lg:px-[88px] hidden lg:flex flex-col gap-8 lg:gap-16">
            <img src="/cbc.webp" alt="CBC Image" class="lg:sticky lg:top-[100px] w-full aspect-[295.36/194.00] object-cover"/>
            <img src="/cbc2.webp" alt="CBC Image" class="lg:sticky lg:top-[100px] w-full aspect-[295.36/194.00] object-cover"/>
            <img src="/cbc3.webp" alt="CBC Image" class="lg:sticky lg:top-[100px] w-full aspect-[295.36/194.00] object-cover"/>
        </article>
    </section>
	
	<Footer/>
</Layout>
