---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import Button from "../../../components/Button.astro";
---

<Layout>
	<Header/>
	<section class="grid grid-cols-12 px-5 lg:px-10 gap-4" >
        <div class="col-span-12 flex flex-col lg:gap-2 border-b border-[#AFAFAF] pb-2 lg:pb-5">

            <h2 class="font-medium">
                Fit+
            </h2>
            <div class="font-light text-[13px]">DISEÑO UX/UI</div>
        </div>
	</section>

    <section class="relative grid grid-cols-12 px-5 lg:px-10 gap-4 pt-10 lg:pt-24 pb-4 lg:pb-20">
        <article class="col-span-12 lg:col-span-5 flex flex-col gap-6 lg:gap-12">
            <div class="flex flex-col gap-8">
                <div class="flex justify-between py-2 lg:py-5 border-b border-[#AFAFAF]">
                    <div class="font-medium">Cliente</div>
                    <div class="font-light text-[13px]">PROYECTO UNIVERSITARIO</div>
                </div>
                <!-- <div class="flex justify-between py-2 lg:py-5 border-b border-[#AFAFAF]">
                    <div class="font-medium">Live preview</div>
                    <a href="#" target="_blank" class="font-light text-[13px]">NOT AVAILABLE</a>
                </div> -->
                <div class="flex justify-between py-2 lg:py-5 border-b border-[#AFAFAF]">
                    <div class="font-medium">Fecha</div>
                    <div class="font-light text-[13px]">MAYO 2025</div>
                </div>
                <div class="flex justify-between py-2 lg:py-5 border-b border-[#AFAFAF]">
                    <div class="font-medium">Trabajo</div>
                    <div>
                        <div class="font-light text-[13px]">FIGMA</div>
                    </div>
                </div>
            </div>
            <div class="col-span-12 lg:col-span-6 col-start-1 lg:col-start-7 bg-[#98CFF1] py-8 lg:py-32 px-8 lg:px-[88px] lg:hidden flex flex-col gap-8 lg:gap-16">
                <img src="/fit.webp" alt="Fit+ Image" class="lg:sticky lg:top-[100px] w-full aspect-[295.36/194.00] object-cover"/>
                <img src="/fit2.webp" alt="Fit+ Image" class="lg:sticky lg:top-[100px] w-full aspect-[295.36/194.00] object-cover"/>
                <img src="/fit3.webp" alt="Fit+ Image" class="lg:sticky lg:top-[100px] w-full aspect-[295.36/194.00] object-cover"/>
            </div>
            <Button href="/es" position="rotate-180"/>
            <p class="text-[28px] lg:text-[32px] font-medium">Diseño UX/UI limpio y moderno para una aplicación de seguimiento de fitness.</p>
            <div class="flex flex-col gap-12">
                <div class="flex flex-col gap-4">
                    <div class="text-[13px] font-light">[RESUMEN DEL PROYECTO]</div>
                    <p class="font-light leading-5">
                        Fit+ es una aplicación móvil diseñada como proyecto universitario con el objetivo de ayudar a los usuarios a gestionar su actividad física, sus rutinas deportivas y su nutrición en una plataforma unificada. La aplicación se centra en ofrecer una experiencia limpia, moderna y motivadora que apoye los hábitos de vida saludables con claridad y facilidad.                    
                    </p>
                </div>
                <div class="flex flex-col gap-4">
                    <div class="text-[13px] font-light">[MI ROL]</div>
                    <p class="font-light leading-5">
                        Fui responsable de todo el proceso de diseño UX/UI, desde la investigación y la estrategia hasta el diseño de la interfaz. Todo el trabajo se realizó en Figma, siguiendo una metodología de diseño centrada en el usuario.                    
                    </p>
                </div>
                <div class="flex flex-col gap-4">
                    <div class="text-[13px] font-light">[PROCESOS Y ENTREGAS]</div>
                    <p class="font-light leading-5">
                    <b>Benchmarking:</b> Análisis a seis competidores (directos e indirectos) para comprender las tendencias actuales en las aplicaciones de seguimiento de la salud y el estado físico, identificar las mejores prácticas de UX y detectar oportunidades de diferenciación. <br/><br/>
                    <b>User Flow:</b> A partir de los objetivos de los usuarios y la funcionalidad de la aplicación, se creó un flujo de usuarios detallado para estructurar la navegación y las acciones principales de la aplicación.<br><br>
                    <b>Card Sorting:</b> Para validar la arquitectura de la información, se llevó a cabo un ejercicio de clasificación de tarjetas con 30 participantes, que ayudó a definir una estructura acorde con las expectativas y los modelos mentales de los usuarios. <br><br>
                    <b>Sketches and Wireframes:</b> Las primeras ideas se desarrollaron en wireframes de baja fidelidad para explorar el diseño de la maquetación y la interacción.<br><br>
                    <b>Diseño de interfaz:</b> La interfaz final se diseñó en Figma, utilizando una estética minimalista, con diseños equilibrados, tonos suaves y componentes intuitivos.
                </p>
                </div>
                <div class="flex flex-col gap-4">
                    <div class="text-[13px] font-light">[ENFOQUE DE DISEÑO]</div>
                    <p class="font-light leading-5">
                        Fit+ utiliza una interfaz de usuario ligera y limpia, con espacios en blanco, iconos claros y una navegación sencilla para reducir la fricción y facilitar la concentración del usuario. Cada una de las secciones principales se diseñó para que fuera visualmente distinta pero coherente, de modo que los usuarios pudieran cambiar de contexto y acceder rápidamente a los datos clave.                    
                    </p>
                </div>
                <div class="flex flex-col gap-4">
                    <div class="text-[13px] font-light">[RESULTADO]</div>
                    <p class="font-light leading-5">
                        El resultado final es un prototipo de aplicación móvil totalmente diseñado que refleja una marca moderna y preocupada por la salud y una experiencia de uso sencilla. El proyecto demuestra el valor de combinar la investigación y las pruebas de usabilidad con sólidos principios de diseño visual para crear una aplicación de bienestar práctica y atractiva.                    
                    </p>
                </div>
            </div>
        </article>
        <article class="col-span-12 lg:col-span-6 col-start-1 lg:col-start-7 bg-[#98CFF1] py-8 lg:py-32 px-8 lg:px-[88px] hidden lg:flex flex-col gap-8 lg:gap-16">
            <img src="/fit.webp" alt="Fit+ Image" class="lg:sticky lg:top-[100px] w-full aspect-[295.36/194.00] object-cover"/>
            <img src="/fit2.webp" alt="Fit+ Image" class="lg:sticky lg:top-[100px] w-full aspect-[295.36/194.00] object-cover"/>
            <img src="/fit3.webp" alt="Fit+ Image" class="lg:sticky lg:top-[100px] w-full aspect-[295.36/194.00] object-cover"/>
        </article>
    </section>
	
	<Footer/>
</Layout>
