---
import Arrow from "../assets/arrow.astro";

const { position } = Astro.props;
---

<div class=`${position} flex items-center justify-center size-10 bg-[#F4F1E7] text-[#323232] rounded-full hover:bg-[#323232] hover:text-white transition duration-300`>
    <Arrow class="size-4" />
</div>