<footer class="flex justify-between px-5 lg:px-10 pb-5 pt-10">
    <a href="https://www.linkedin.com/in/inakimir/" target="_blank">LinkedIn</a>
    <a href="/" class="font-semibold">inakimir.com</a>
    <div>© 2025</div>
</footer>