

<header class="grid grid-cols-12 px-10">
    <h1 class="col-span-12 flex justify-between text-[140px] font-bold">
        <span>IÑAKI</span>
        <span>MIR</span>
    </h1>
    <p class="col-span-2 text-[20px]" id="header-text">
        DISEÑADOR WEB EXPERTO EN DISEÑO Y DESARROLLO DIGITAL
    </p>
    <nav class="col-start-11 col-span-2 text-[20px]">
        <ul class="flex items-start justify-end gap-4">
            <li><a href="#sobre-mi" class="hover:text-[#7B8397] transition-all duration-300">Sobre mí</a></li>
            <li><a href="#contacto" class="hover:text-[#7B8397] transition-all duration-300">Contacto</a></li>
        </ul>
    </nav>
</header>

<script>
  import { gsap } from "gsap";
  import { TextPlugin } from "gsap/TextPlugin";

  gsap.registerPlugin(TextPlugin);

  // Animación del párrafo
  gsap.from("#header-text", {
    duration: 2,       // duración total
    text: "",          // empieza vacío
    ease: "none",      // lineal para efecto máquina de escribir
    delay: 0.5,        // opcional, espera medio segundo
  });
</script>
