<header class="w-full py-[20px] px-5 lg:px-[40px] flex mb-4 lg:mb-8">
    <a href="/" class="border-b border-[#AFAFAF] w-full">
        <h1 class="text-5xl lg:text-[104px] font-semibold">Iñaki Mir</h1>
    </a>
</header>