---
import "../styles/global.css";
import '@fontsource-variable/archivo';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Iñaki Mir | UX/UI Designer and Frontend Developer</title>
		<meta name="description" content="Iñaki Mir is a UX/UI designer and frontend developer based in Mallorca, Spain. He specializes in creating user-friendly interfaces and engaging digital experiences." />
	</head>
	<body class="h-screen bg-[#FFFEFD] text-[#323232]">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: "Archivo Variable", sans-serif;
	}
</style>
