---
import "../styles/global.css";
import '@fontsource-variable/archivo';
import SpeedInsights from '@vercel/speed-insights/astro';
import Analytics from '@vercel/analytics/astro'

---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.1.0/dist/cookieconsent.css">
		<meta name="generator" content={Astro.generator} />
		<title>Iñaki Mir - Diseñador web</title>
		<meta name="description" content="Iñaki Mir is a web designer based in Mallorca, Spain. He specializes in creating user-friendly interfaces and engaging digital experiences." />

		<SpeedInsights />
		<Analytics/>
		
	</head>
	<body class="h-screen bg-[#F5F5F5] text-[#282C36]">
		<slot />
		<script type="module" src="src/assets/cookieconsent-config.js"></script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: "Archivo Variable", sans-serif;
	}
</style>
