---
import "../styles/global.css";
import '@fontsource-variable/archivo';
import SpeedInsights from '@vercel/speed-insights/astro';
import Analytics from '@vercel/analytics/astro'
---
<!doctype html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-3ZRLHNLCP3"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-3ZRLHNLCP3');
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.1.0/dist/cookieconsent.css">
		<meta name="generator" content={Astro.generator} />
		<title>Iñaki Mir | UX/UI Designer and Frontend Developer</title>
		<meta name="description" content="Iñaki Mir is a UX/UI designer and frontend developer based in Mallorca, Spain. He specializes in creating user-friendly interfaces and engaging digital experiences." />
		
		<SpeedInsights />
		<Analytics/>
		
	</head>
	<body class="h-screen bg-[#FFFEFD] text-[#323232]">
		<slot />
		<script type="module" src="src/assets/cookieconsent-config.js"></script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: "Archivo Variable", sans-serif;
	}
</style>
