---
import "../styles/global.css";
import '@fontsource-variable/archivo';
import SpeedInsights from '@vercel/speed-insights/astro';
import Analytics from '@vercel/analytics/astro'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon2.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Iñaki Mir | UX/UI Designer and Frontend Developer</title>
		<meta name="description" content="Iñaki Mir is a UX/UI designer and frontend developer based in Mallorca, Spain. He specializes in creating user-friendly interfaces and engaging digital experiences." />
		<SpeedInsights />
		<Analytics/>
		<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PTH5VD3M');</script>
<!-- End Google Tag Manager -->
	</head>
	<body class="h-screen bg-[#FFFEFD] text-[#323232]">
		<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PTH5VD3M"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: "Archivo Variable", sans-serif;
	}
</style>
